# Discord Bot Token
# Get this from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# Brawl Stars API Token
# Get this from https://developer.brawlstars.com/
BRAWL_TOKEN=your_brawl_stars_api_token_here
